name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Platane/snk/svg-only@v3
        with:
          github_user_name: Amna346090
          outputs: |
            dist/github-contribution-grid-snake.svg
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          branch: output
          create_branch: true
          file_pattern: dist/*.svg
          commit_message: "Update snake animation"
